      - name: Run Script
        run: python update_list.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          # Sadece dosya varsa işlem yap, yoksa hata verme
          if [ -f playlist.m3u ]; then
            git add playlist.m3u
            git commit -m "Update playlist"
            git push
          else
            echo "Hata: playlist.m3u dosyası bulunamadı!"
            exit 1
          fi
